@inherits LayoutComponentBase

<main>
    <header>
        <img src="/imgs/girassol-logo.png" height="70" />
        <a href="/">Solar Calculator</a>
        <a href="/solar-plants">Solar Plants</a>
        <a href="/account">My Account</a>
        <a href="/estimates">Estimates</a>
    </header>

    <article>
        @Body
    </article>
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
