@inherits LayoutComponentBase

<Nav />

<main>
    <div class="main-container">
        <div class="main-content">
            @Body
        </div>
    </div>
</main>

@* <div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div> *@