main {
  display: flex;
  justify-content: center;
}
main .main-container {
  display: grid;
  grid-template-columns: repeat(12, 72px);
  grid-column-gap: 15px;
}
main .main-container .main-content {
  margin-top: 40px;
  grid-column: 1/span 12;
}
