input[type=checkbox] {
  appearance: none;
  cursor: pointer;
  width: 3.5rem;
  height: 2.5rem;
  color: white;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}
input[type=checkbox]:checked {
  background-color: rgba(255, 255, 255, 0.5);
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

li {
  font-size: 0.9rem;
  margin: 0 1rem;
}
li ::deep .nav-link {
  box-sizing: border-box;
  background: none;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 100%;
}
li a {
  color: #005b96;
  text-decoration: none;
}
li ::deep a.active {
  color: #00365a;
}
li ::deep .nav-link:hover {
  color: #669cc0;
}

nav {
  width: calc(100vw - 3.5rem);
  max-height: 3.5rem;
}

@media (min-width: 641px) {
  input[type=checkbox] {
    display: none;
  }
  nav {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
