<input type="checkbox" class="navbar-toggler" title="Navigation menu" />

<nav onclick="document.querySelector('.navbar-toggler').click()">
    <ul>
        <li>
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>

        <li>
            <NavLink class="nav-link" href="/mentors">
                Mentors
            </NavLink>
        </li>

        <li>
            <NavLink class="nav-link" href="/dashboard">
                Dashboard
            </NavLink>
        </li>
    </ul>
</nav>

