<figure>
    <figcaption>
        <a href="">Sparc.Girassol</a>
    </figcaption>
</figure>

<input type="checkbox" class="navbar-toggler" title="Navigation menu" />

<nav onclick="document.querySelector('.navbar-toggler').click()">
    <ul>
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Solar Calculator
            </NavLink>
        </li>

        <li>
            <NavLink class="nav-link" href="solar-plants">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Solar Plants
            </NavLink>
        </li>

        <li>
            <NavLink class="nav-link" href="account">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> My Account
            </NavLink>
        </li>

        <li>
            <NavLink class="nav-link" href="estimates">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Estimates
            </NavLink>
        </li>
    </ul>
</nav>

