@page "/login"

<div class="login">
    <div class="hero">
        <img src="/assets/images/pigeon-drawing.png" />
    </div>
    <div class="login-form">
        <div class="login-input">
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <button class="login-btn">Login</button>
        </div>
        <div class="signup">
            <p>New to CheckAmi?</p>
            <a href="/signup">Sign Up</a>
        </div>
    </div>
</div>