<h4>Mentor Form</h4>

<EditForm Model="@mentorModel">
    <div>
        <label for="expertise">Choose your area of expertise</label>
        <select id="expertise" name="expertise" multiple @onchange="UpdateExpertise">
            <option value="software_development">Software Development</option>
            <option value="project_management">Project Management</option>
            <option value="leadership">Leadership</option>
            <option value="marketing">Marketing</option>
            <option value="design">Design</option>
            <option value="finance">Finance</option>
        </select>
    </div>

    <div>
        <label for="availableTimes">Available Times</label>
        <select id="availableTimes" name="availableTimes" multiple @onchange="UpdateAvailableTimes">
            <option value="morning">Morning</option>
            <option value="afternoon">Afternoon</option>
            <option value="evening">Evening</option>
        </select>
    </div>
</EditForm>

@code {
    [Parameter] public Mentor mentorModel { get; set; }

    private void UpdateExpertise(ChangeEventArgs e)
    {
        var selectedValues = ((IEnumerable<string>)e.Value).ToList();
        mentorModel.UpdateExpertise(selectedValues);
    }

    private void UpdateAvailableTimes(ChangeEventArgs e)
    {
        var selectedValues = ((IEnumerable<string>)e.Value).ToList();
        mentorModel.UpdateAvailableTimes(selectedValues);
    }
}

