@page "/books"

<PageTitle>Books</PageTitle>

<h1>Books</h1>

<EditForm Model="newBook" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="title">Title:</label>
        <InputText id="title" @bind-Value="newBook.Title" />
    </div>
    <div>
        <label for="description">Description:</label>
        <InputTextArea id="description" @bind-Value="newBook.Description" />
    </div>
    <button type="submit">Add Book</button>
</EditForm>

@foreach (var book in Books)
{
    <div>
        <h2>@book.Title</h2>
        <p>@book.Description</p>
    </div>
}

@code {
    private Book newBook = new Book();

    List<Book> Books = new List<Book>();

    protected override async Task OnInitializedAsync()
    {
        Books = (await Api.Books.Paginated(0, 10)).ToList();
    }

    private async Task HandleValidSubmit()
    {
        var insertedBook = await Api.Books.Create(newBook.Title, newBook.Description);

        Books.Add(insertedBook);
        StateHasChanged();
        newBook = new Book();
    }
}
